block body
	link(rel='stylesheet', href='/css/home.css')
	script(src='/js/home.js')
	div.absolute-center#search-div
		div.input-group.col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.col-12.text-center
			img(src='img/spokes.png', style='margin-left: -450px; margin-top: -420px; position: absolute;')
			div(style='z-index: 100;')
				input.form-control#search-input(type='text')
			span.input-group-btn
				button.btn.btn-search.btn-success#search Search
			if user
				div#login-div
			else
				div#login-div
					a(href='http://localhost:3000/auth/google')
						button.btn.btn-success.square Sign in with Google