block body
	link(rel='stylesheet', href='/css/home.css')
	script(src='/js/home.js')
	div.absolute-center#search-div
		div.input-group.col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.col-12.text-center
			input.form-control#search-input(type='text')
			span.input-group-btn
				button.btn.btn-search.btn-success#search Search