block body
	script(src='/js/controller.js')

	div#arrow-right

	div.sidebar
		div#padding
		//- img.logo(src='/img/twitter-color.png', color=true, active=1)
		//- img.logo(src='/img/facebook.png', color=false)
		//- img.logo(src='/img/google.png', color=false)
		each service in services
			if service[1] == 'google_web'
				if search_type == 'google_web'
					img.logo(src='/img/google_web-color.png', color=1, active=1)
				else
					img.logo(src='/img/google_web.png')
			if service[1] == 'google_images'
				if search_type == 'google_images'
					img.logo(src='/img/google_images-color.png', color=1, active=1)
				else
					img.logo(src='/img/google_images.png')
			if service[1] == 'gmail'
				if search_type == 'gmail'
					img.logo(src='/img/gmail-color.png', color=1, active=1)
				else
					img.logo(src='/img/gmail.png')


	div#content-container
		include links




